<style>
    .rounded-table {
        border-collapse: separate;
        border-spacing: 0;
        border-radius: 10px; /* 전체 테이블의 모서리 */
        overflow: hidden; /* 둥근 모서리를 위해 필요 */
        background-color: #060C1C;
    }

    .rounded-table thead tr:first-child th:first-child {
        border-top-left-radius: 10px; /* 첫 번째 셀의 왼쪽 상단 모서리 */
    }

    .rounded-table thead tr:first-child th:last-child {
        border-top-right-radius: 10px; /* 마지막 셀의 오른쪽 상단 모서리 */
    }

    .rounded-table tbody tr:last-child td:first-child {
        border-bottom-left-radius: 10px; /* 첫 번째 셀의 왼쪽 하단 모서리 */
    }

    .rounded-table tbody tr:last-child td:last-child {
        border-bottom-right-radius: 10px; /* 마지막 셀의 오른쪽 하단 모서리 */
    }
</style><div class="tbl_wrp form-custom">
        <table class="table rounded-table">
            <thead>
            <tr class="table-info">
                <th scope="col">리소스명</th>
                <th scope="col">리소스타입</th>
                <th scope="col">HttpMethod</th>
                <th scope="col">순서</th>
            </tr>
            </thead>
            <tbody>
            <tr class="link_btn hover" th:each="resource:${resources}">
                <td style="text-align: left;">
                    <a th:href="@{'/admin/resources/' + ${resource.id}}" class="text-white" th:text="${resource.resourceName}">리소스명</a>
                </td>
                <td style="color:#ffffff" th:text="${resource.resourceType}">리소스타입</td>
                <td style="color:#ffffff" th:text="${resource.httpMethod}">HttpMethod</td>
                <td style="color:#ffffff" th:text="${resource.orderNum}">순서</td>
            </tr>
            </tbody>
        </table>
        <div style="text-align:right;">
            <a class="btn btn-dark btn-lg" th:href="@{/admin/resources/register}">리소스 등록</a>
        </div>
    </div>