    <div class="tbl_wrp">
        <form class="form-horizontal form-custom" th:action="@{/admin/roles}" method="post" th:object="${roles}">
            <input type="hidden" th:field="*{id}" />

            <div class="form-group">
                <label for="roleName" class="col-sm-2 control-label">권한명</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control input-large" th:field="*{roleName}" placeholder="권한명">
                </div>
            </div>

            <div class="form-group">
                <label for="roleDesc" class="col-sm-2 control-label">권한설명</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control input-large" th:field="*{roleDesc}" placeholder="권한설명">
                </div>
            </div>
            <div class="form-group">
                <label for="isExpression" class="col-sm-2 control-label">표현식여부</label>
                <div class="col-sm-10">
                    <select class="custom-select" th:field="*{isExpression}">
                        <option th:value="N"
                                th:text="N"
                                th:selected="${isExpression == 'N'}">
                        </option>
                        <option th:value="Y"
                                th:text="Y"
                                th:selected="${isExpression == 'Y'}">
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-10">
                    <button type="Submit" class="btn btn-dark btn-lg">등록</button>
                    <a class="btn btn-dark btn-lg" style="margin:10px;" th:href="@{/admin/roles}">목록</a>
                    <a class="btn btn-dark btn-lg" style="margin:10px;" th:href="@{'/admin/roles/delete/' + *{id}}">삭제</a>
                </div>
            </div>
        </form>
    </div>