    <div class="tbl_wrp form-custom">
        <table class="table">
            <thead>
            <tr class="table-info">
                <th scope="col">권한명</th>
                <th scope="col">권한설명</th>
            </tr>
            </thead>
            <tbody>
            <tr class="link_btn hover" th:each="role:${roles}">
                <td style="text-align: left;">
                    <a th:href="@{'/admin/roles/' + ${role.id}}" th:text="${role.roleName}">회원></a>
                </td>
                <td style="text-align: left;" th:text="${role.roleDesc}"></td>
            </tr>
            </tbody>
        </table>
        <div style="text-align:right;">
            <a class="btn btn-dark btn-lg" th:href="@{/admin/roles/register}">권한 등록</a>
        </div>
    </div>
